.delete a{
  border: 1px solid rgba(255, 54, 54, 0.76);
  color: rgba(255, 54, 54, 0.76);
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  &:hover {
    cursor: pointer;
  }
}

.position {
  width: 100px;
}
.date_public{
  width: 110px;
}
