<div class="list">
  <div class="search" *ngIf="this.pathUrl && this.pathUrl=='/search'">
    <h3 class="mb-3">Search Blog</h3>
    <form>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Tiêu đề</label>
        <div class="col-sm-10">
          <input type="text" placeholder="Tiêu đề" name="name" [(ngModel)]="itemSearch" class="form-control"  (keydown.enter)="onSearch()" id="inputPassword">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="button" class="btn btn-success" (click)="onSearch()">Search</button>
        </div>
      </div>
    </form>
  </div>
  <h3 class="mb-3">List Blog</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tin</th>
        <th scope="col">Loại</th>
        <th scope="col">Trạng thái</th>
        <th scope="col" class="position">Vị trí</th>
        <th scope="col" class="date_public">Ngày pubblic</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lists">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.title }}</td>
        <td>{{ convertCategory(item.category) }}</td>
        <td>{{ item.public }}</td>
        <td>{{ convertPosition(item.position) }}</td>
        <td>{{ item.data_pubblic }}</td>
        <td>
          <a [routerLink]="'/edit/'+item.id">edit</a>
        </td>
        <td class="delete" (click)="onDelete(item.id)">
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
  </ngb-pagination> -->
</div>
