<div class="menu">
  <ul class="p-0 m-0">
    <li class="border border-bottom-0 p-2 text-center list-unstyled" [class.selected]="this.id === 1" (click)="addClass(1)">
      <a routerLink="/">List</a>
    </li>
    <li class="border border-bottom-0 p-2 text-center list-unstyled" [class.selected]="this.id === 2" (click)="addClass(2)">
      <a routerLink="/new">New</a>
    </li>
    <li class="border border-bottom-0 p-2 text-center list-unstyled" [class.selected]="this.id === 3" (click)="addClass(3)">
      <a routerLink="/search">Search</a>
    </li>
    <li class="border p-2 text-center list-unstyled" [class.selected]="this.id === 4" (click)="addClass(4)">
      <a routerLink="/new">Edit</a>
    </li>
  </ul>
</div>
