.menu {
  li{
    a{
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover, &.selected {
      cursor: pointer;
      background-color: #ccc;
      a {
        color: rgb(48, 130, 252);
      }
    }
  }
}
