<div>
  <app-app-header id="header"></app-app-header>
  <div class="container">
    <div class="row body">
      <div class="col-3">
        <app-app-menu class="fixed-top" id="menu"></app-app-menu>
      </div>
      <main class="col-9">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <app-app-footer></app-app-footer>
</div>
