<div class="mb-5">
  <h3 class="mb-3">
    <p *ngIf="!id">New Blogs</p>
    <p *ngIf="id">Edit Blogs</p>
  </h3>
  <form #formBlog="ngForm">
    <div class="form-group">
      <label for="name">Tiêu đề</label>
      <input type="text" class="form-control" name="title" required #title="ngModel" #actionTitle [(ngModel)]="blog.title" id="name" placeholder="Vui lòng nhập tiêu đề">
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title Không để trống
    </div>

    <div class="form-group">
      <label for="des">Mô tả ngắn</label>
      <input type="text" class="form-control" name="des" required #des="ngModel" [(ngModel)]="blog.des" id="des" placeholder="Vui lòng nhập mô tả">
    </div>
    <div [hidden]="des.valid || des.pristine" class="alert alert-danger">
      Mô tả không để trống
    </div>

    <div class="form-group">
      <label for="detail">Chi tiết</label>
      <textarea class="form-control" name="detail" required #detail="ngModel" [(ngModel)]="blog.detail" id="detail" rows="3"></textarea>
    </div>
    <div [hidden]="detail.valid || detail.pristine" class="alert alert-danger">
      Chi tiết Không để trống
    </div>

    <div class="form-group mt-3">
      <label for="image">Hình ảnh</label>
      <input type="file" name="thumbs" class="form-control-file" id="image">
      <img [src]="blog.thumbs" alt="">
    </div>
    <div class="form-group mt-3">
      <label for="category">Loại</label>
      <select class="form-control" name="category" [(ngModel)]="blog.category" id="category">
        <option *ngFor="let item of category" [selected]="blog.category == item.id" [value]="item.id">{{ item.name }}</option>
      </select>
    </div>

    <label class="mt-3">Vị trí</label>
    <div class="form-check" *ngFor="let pos of listPosition">
      <input class="form-check-input" [name]="'position'+pos.id" [checked]="blog.position.includes(pos.id)" (change)="setPosition($event, pos.id)" id="{{ 'position' + pos.id }}" [defaultChecked]="blog.position==pos.id" type="checkbox" [value]="pos.id">
      <label class="form-check-label" for="{{ 'position' + pos.id }}">
        {{ pos.name }}
      </label>
    </div>

    <label for="" class="mt-3">Status</label>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="blog.public" name="status" type="radio" id="status1" [value]="true">
      <label class="form-check-label" for="status1">
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="blog.public" name="status" type="radio" id="status2" [value]="false">
      <label class="form-check-label" for="status2">
        No
      </label>
    </div>
    <div class="form-group mt-3">
      <label for="date">Ngày pubblic</label>
      <input type="date" class="form-control" required #date="ngModel"  name="date_pubblic" [(ngModel)]="blog.data_pubblic" id="date" placeholder="Vui lòng nhập mô tả">
    </div>
    <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
      Ngày không để trống
    </div>

    <div class="button text-center">
      <button type="button" class="btn btn-primary mr-2" (click)="onSave()" [disabled]="formBlog.form.invalid">Primary</button>
      <button type="button" class="btn btn-outline-primary ml-2" (click)="[formBlog.reset(), onClear()]">Clear</button>
    </div>
  </form>
</div>
