<header class="bg-white fixed-top d-flex align-items-center">
<div class="container">
  <div class="row">
    <div class="col-3 text-left">
      <img src="../../assets/image/devfast-logo.png" height="50" alt="logo">
    </div>
    <div class="col-9">
      <h3>Blog Management</h3>
    </div>
  </div>
</div>
</header>
